<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Thiên Lộc pharmacy">
    <meta name="keywords" content="thien loc, thiên lộc, Thiên Lộc pharmacy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thiên Lộc pharmacy</title>

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet"> -->

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <style>
		.header__top a {
	      	color: #007bff;
	      	font-size: 16px;
	    }
    </style>
</head>
<body>

    <div class="container">
    	<th:block th:include="/admin/_header"></th:block>
        <div class="row">
            <div class="col-lg-12" style="text-align: center; padding: 40px 0px;">
                <i class="fa fa-meh-o" style="color: #059341; font-size: 300px;"></i>
                <p style="padding: 15px 0px; font-size: 26px;">Rất tiếc, chúng tôi không tìm thấy trang bạn mong muốn.</p>
                <a th:href="@{/admin/thienloc}" class="primary-btn cart-btn">Quay về trang chủ</a>
            </div>
        </div>
    </div>

	<!-- Js Plugins -->
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>

</body>

</html>