<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="description" content="Thiên Lộc pharmacy">
	    <meta name="keywords" content="thien loc, thiên lộc, Thiên Lộc pharmacy">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Quản lý danh sách sản phẩm</title>
	
	    <!-- Google Font -->
	    <!-- <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet"> -->
	
	    <!-- Css Styles -->
	    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
	    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
	    <link rel="stylesheet" href="../../css/jquery-ui.min.css" type="text/css">
	    <link rel="stylesheet" href="../../css/style.css" type="text/css">
	    
	    <style>
			.header__top a {
		      	color: #007bff;
		      	font-size: 16px;
		    }
		    label.radio-inline {
				font-size: 15px;
				cursor: pointer;
    			display: inline;
			}
			.blog__pagination {
				padding-top: 15px;
			}
			.blog__pagination:before {
				top: -15px;
			}
			.admin_page_navigation a.active_page {
				background: #007bff;
				border-color: #007bff;
				color: #ffffff;
			}
			
			.admin_page_navigation a:hover {
				background: #007bff;
				border-color: #007bff;
				color: #ffffff;
			}
	    </style>
	</head>
	
	<body>
		<div class="container admin__page">
			<th:block th:include="/admin/_header"></th:block>
		</div>
	    <div class="container-fluid admin__page">
	        <div class="row">
	        	<div class="col-2" style="margin-top: 65px;">
	        		<div class="hero__categories">
		        		<h5>Danh mục</h5>
		        		<ul class="main_categories__menu__dropdown" style="border: none; padding-left: 15px;">
                        	<th:block th:each="category : ${categoryList}">
	                           	<li th:if="${category.categoryType} == 1"><a th:href="@{|/admin/productList/${category.categoryCode}-${category.categoryId}|}"><th:block th:text="${category.categoryName}" /></a> <i class="fa fa-angle-right"></i>
	                                <ul class="children_categories__menu__dropdown" style="display: none;" >
	                                	<th:block th:each="categorySub : ${categoryList}" th:if="${categorySub.categoryParentId} == ${category.categoryId}">
		                                    <li><a th:href="@{|/admin/productList/${categorySub.categoryCode}-${categorySub.categoryId}|}"><th:block th:text="${categorySub.categoryName}" /></a></li>
	                                	</th:block>
	                                </ul>
	                            </li>
                        	</th:block>
                        </ul>
	        		</div>
	        	</div>
		        <div class="col-10">
		            <div class="section-title__admin">
		                <h4>Danh sách sản phẩm</h4>
		            </div>
		        </div>
	        </div>
	    	<div class="row">
	    		<div class="col-2">
	        	</div>
	    		<div class="col-lg-10">
	    			<div class="info__admin__blogList" style="margin-bottom: 10px;">
		    			<div class="filter__found" style="text-align: left; display: inline-block;">
		    				<th:block th:if="!${#lists.isEmpty(productList)}">
		    					<h6><span  th:text="${productList.size()}"></span> sản phẩm</h6>
		    				</th:block>
	                        <th:block th:if="${#lists.isEmpty(productList)}">
		    					<h6><span>0</span> sản phẩm</h6>
		    				</th:block>
	                    </div>
	                    <a th:href="@{/admin/product}" style="float: right;">Tạo sản phẩm mới</a>
	    			</div>
	    			<div class="info__admin__blogList" style="margin-bottom: 20px;">
                   		<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Sắp xếp</button>
						  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a th:href="@{|?order_by=price&sort_by=ASC|}">Giá tăng dần</a></li>
							    <li><a th:href="@{|?order_by=price&sort_by=DESC|}">Giá giảm dần</a></li>
							    <li><a th:href="@{|?order_by=date&sort_by=DESC|}">Mới nhất</a></li>
							    <li><a th:href="@{|?order_by=quantity&sort_by=ASC|}">Số lượng</a></li>
						  	</ul>
						</div>
	    			</div>
	    			
	    			<table class="table table-hover">
					  <thead>
					    <tr>
					      <th scope="col" style="width: 4%;">#</th>
					      <th scope="col" style="width: 29%;">Tên sản phẩm</th>
					      <th scope="col" style="width: 22%;">Thuộc danh mục</th>
					      <th scope="col" style="width: 8%;">Giá</th>
					      <th scope="col" style="width: 8%;">Số lượng</th>
					      <th scope="col" style="width: 8%;">Xuất bản</th>
					      <th scope="col" style="width: 22%;">Tác vụ</th>
					    </tr>
					  </thead>
					  <input type='hidden' id='current_page' value="0" />
				      <input type='hidden' id='show_per_page' value="15" />
					  <tbody id="content">
					    <tr th:each="product,iterStat : ${productList}">
					      <th th:text="${iterStat.count}" scope="row">1</th>
					      <td class="productName">
					      	<p th:text="${product.productName}"></p>
					      </td>
					      <td th:text="|${product.categoryParentName} / ${product.categoryName}|" class="categoryName"></td>
					      <td>
					      	<span th:text="${product.price}" class="price"></span>
					      	<span th:if="${product.promotionFlag} == 1" th:text="${product.promotionPrice}" class="promotionPrice"></span>
					      </td>
					      <td th:text="${product.quantity}" class="quantity"></td>
					      <td th:text="${product.display}" class="display"></td>
					      <td>
					      	<a th:href="@{|/product-details/${product.productCode}-${product.productId}|}" class="review"><i class="fa fa-eye"></i> xem</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
					      	<a th:href="@{|/admin/product?productId=${product.productId}|}" class="edit"><i class="fa fa-edit"></i> sửa</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
					      	<a th:href="@{|/admin/deleteProduct?productId=${product.productId}|}" class="delete"><i class="fa fa-trash"></i> xoá</a>
					      </td>
					    </tr>
					    <tr th:if="${#lists.isEmpty(productList)}"><td colspan="7">Không có sản phẩm nào</td></tr>
					  </tbody>
					</table>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-2">
	        	</div>
                <div class="col-lg-10">
                    <div id="page_navigation" class="admin_page_navigation"></div>
                </div>
            </div>
	    </div>
		
		<!-- Js Plugins -->
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/jquery-3.3.1.min.js"></script>
		<script src="../../js/jquery-ui.min.js"></script>
		<script src="../../js/page_navigation.js"></script>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		
		<script>
			$(document).ready(function() {
				var pageURL = window.location.search;
				if(pageURL == '?order_by=price&sort_by=ASC')
					$('#dropdownMenu1').html('Giá tăng dần');
				else if(pageURL == '?order_by=price&sort_by=DESC')
					$('#dropdownMenu1').html('Giá giảm dần');
				else if(pageURL == '?order_by=date&sort_by=DESC')
					$('#dropdownMenu1').html('Mới nhất');
				else if(pageURL == '?order_by=quantity&sort_by=ASC')
					$('#dropdownMenu1').html('Số lượng');
				
                $( "table tbody tr" ).each(function(index) {
					if($(this).find(".quantity").text() < 6) {
						$(".quantity").eq(index).css("color", "red").css("font-weight", "700");
					}
	
					if($(this).find(".display").text() == 1)
						$(".display").eq(index).html("Có");
					else
						$(".display").eq(index).html("Không");
						
					if($(this).find(".promotionPrice").text() != '')
						$(".price").eq(index).css("text-decoration", "line-through");
				});
				
				$('#dropdownMenu1').hover(function(){
					if($('ul.dropdown-menu').css("display") == "none")
						$('ul.dropdown-menu').show();
					else
						$('ul.dropdown-menu').hide();
				});
				$('.dropdown-menu').hover(function(){
					if($('ul.dropdown-menu').css("display") == "none")
						$('ul.dropdown-menu').show();
					else
						$('ul.dropdown-menu').hide();
				});
				
				$('.price').each(function () {
					var price = $(this).html();
					$(this).html(parseInt(price).toLocaleString("vi", {style:"currency", currency:"VND"}));
			    });
			    
			    $('.promotionPrice').each(function () {
					var price = $(this).html();
					$(this).html(parseInt(price).toLocaleString("vi", {style:"currency", currency:"VND"}));
			    });
				
				$('.delete').click(function() {
			       if(confirm("Bạn có chắc chắn muốn xoá ?"))
			        {
			            return true;
			        }        
			        return false;
			    });
			});
		    
		</script>
		<script src="../../js/main.js"></script>
	</body>
</html>